<template>
  <div class="container">
    <div class="row">
      <v-card class="mx-auto">
        <v-card-title>
          <v-icon large left class="myred">KPIs</v-icon>
        </v-card-title>
        <hr>
        <hr>
        <v-card-text>
          <form>
            <v-layout align-center>
              <v-select :items="items" label="Company" v-on:change="onChange"></v-select>
            </v-layout>
          </form>
        </v-card-text>

        <v-card-actions>
          <v-layout>
            <v-flex align-center xs4>
              <div>
                <span class="myred center">77 %</span>
                <span class="myred large">Customer Winning rate</span>
                <span class="center">New Customers : {{newCustomersCount}}</span>
                <span class="center">Requests : {{requestsCount}}</span>
              </div>
            </v-flex>

            <v-flex align-center xs4>
              <div>
                <span class="myred center">86 %</span>
                <span class="myred large">Order Fulfillment</span>
                <span class="center">Fulfilled Orders: {{fulfilledOrdersCount}}</span>
                <span class="center">Orders : {{OrdersCount}}</span>
              </div>
            </v-flex>

            <v-flex align-center xs4>
              <div>
                <span class="myred center">75 %</span>
                <span class="myred large">Customer Satisfaction</span>
                <span class="center">Received Ratings : {{ratingCount}}</span>
              </div>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>
<script>
this.newCustomersCount = Meteor.call("getNewCustomers");
this.requestsCount = Meteor.call("getRequests");
this.OrdersCount = Meteor.call("getOrders");
this.fulfilledOrdersCount = Meteor.call("getFulfilledOrders");
this.ratingCount = Meteor.call("getRating");
export default {
  data() {
    return {
      newCustomersCount: 0,
      requestsCount: 0,
      OrdersCount: 0,
      fulfilledOrdersCount: 0,
      ratingCount: 0,
      items: ["company", "Company 2", "Company 3", "Company 4"]
    };
  },
  methods: {
    onChange: function(value) {}
  }
};
</script>
<style scoped>
.v-card__text {
  margin-left: 300px;
  width: 50%;
}
.v-input__slot {
  color: #fa7373 !important;
}
.myred {
  color: #fa7373;
}
.center {
  display: block;
  text-align: center;
  font-size: 25px;
}
.large {
  font-size: 25px;
  margin-left: 80px;
}
</style>
